export APPWRITE_URL="https://api.badge.ar/v1"
export APPWRITE_PROJECT="badge-ar"
export APPWRITE_KEY=""
export CARDANO_NETWORK="testnet-magic 1097911063"
export CARDANO_NODE_SOCKET_PATH="/node/ipc/node.socket"
export CARDANO_STORE="/local/store"
export CARDANO_CONFIG="/local/config"