APPWRITE_URL="https://api.badge.ar/v1"
APPWRITE_PROJECT="badge-ar"
APPWRITE_KEY=""
CARDANO_NETWORK="testnet-magic 1097911063"
CARDANO_NODE_SOCKET_PATH="/node/ipc/node.socket"
CARDANO_STORE="/local/store"
CARDANO_CONFIG="/local/config"